<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>티끌 모아 태산 - 구인 공고 등록</title>
    <link rel="stylesheet" href="css/header.css" type="text/css">
    <link rel="stylesheet" href="css/registerOffer.css" type="text/css">
</head>
<body>
<div class="header">
    <img class="small-logo" src="/image/logo.png" alt="logo" onclick="location.href = '/'">
</div>
<div class="form-component">
    <img class="middle-size-logo" src="/image/logo.jpg" alt="logo">
    <form id="offer-register-form">
        <div class="form-text">
            <label for="summary">제목 : </label>
            <input type="text" name="summary" id="summary" required>
        </div>
        <div class="form-text">
            <label for="content">내용 : </label>
            <input type="text" name="content" id="content" required>
        </div>
        <div class="form-text">
            <label for="pay">급여(원 단위) : </label>
            <input type="text" name="pay" id="pay" required>
        </div>
        <div class="form-radio">
            <div>장소</div>
            <input type="radio" name="location" value="서울">서울
            <input type="radio" name="location" value="경기">경기
            <input type="radio" name="location" value="인천">인천
        </div>
        <div class="employer-information-label">작성자 정보</div>
        <div class="form-employer-information">
            <div class="form-text">
                <label for="employerName">이름 : </label>
                <input type="text" name="employerName" id="employerName" required>
            </div>
            <div class="form-text">
                <label for="employerPhone">휴대폰 번호 : </label>
                <input type="text" name="employerPhone" id="employerPhone" required>
            </div>
            <div class="form-text">
                <label for="employerMail">메일 : </label>
                <input type="text" name="employerMail" id="employerMail" required>
            </div>
        </div>
        <input id="submit" type="submit" value="등록">
    </form>
</div>
<script src="/js/jquery-3.4.1.js"></script>
<script src="/js/registerOffer.js"></script>
</body>
</html>
