<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>티끌 모아 태산 - 구인 공고 등록</title>
</head>
<body>
<div class="platform_icon">아이콘 들어갈 자리</div>
<form id="offer-register-form">
    <div class="form-example">
        <label for="summary">제목 : </label>
        <input type="text" name="name" id="summary" required>
    </div>
    <div class="form-example">
        <label for="content">내용 : </label>
        <input type="text" name="content" id="content" required>
    </div>
    <div class="form-example">
        <label for="pay">급여 : </label>
        <input type="text" name="pay" id="pay" required>
    </div>
    <div class="form-example">
        <div>장소</div>
        <input type="radio" name="location" value="서울">서울
        <input type="radio" name="location" value="경기">경기
        <input type="radio" name="location" value="인천">인천
    </div>
    <div class="employer-information-label">작성자 정보</div>
    <div class="form-employer-information">
        <div class="form-example">
            <label for="employerName">이름 : </label>
            <input type="text" name="employerName" id="employerName" required>
        </div>
        <div class="form-example">
            <label for="employerPhone">휴대폰 번호 : </label>
            <input type="text" name="employerPhone" id="employerPhone" required>
        </div>
        <div class="form-example">
            <label for="employerMail">메일 : </label>
            <input type="text" name="employerMail" id="employerMail" required>
        </div>
    </div>
    <div class="form-example">
        <input type="submit" value="Subscribe!">
    </div>
</form>
<script src="/js/jquery-3.4.1.js"></script>
<script src="/js/registerOffer.js"></script>
</body>
</html>
