.header {
  overflow: hidden;
  background-color: #fefefe;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.12);
  padding: 0 0 0 0;
  z-index: 100;
}

.header img {
  width: 60px;
  padding: 10px 15px 5px 15px;
}

.header img:hover {
  cursor: pointer;
}
